#title
  %h1 Course Contents
%table
  %tr
    / %td content      
  - @contents.each do |content|  
    %tr
      %td= content.content.html_safe  

- if can? :update, @content
  = link_to 'Edit', edit_content_path(@contents) 
  | 
  
= link_to 'Back', contents_path