/.actions
/ - if can? :update, @home
/ = link_to "Edit", edit_home_path(@home)
#title
  %h1 RoR Ninja
.row-fluid
  .span10.offset1#ror-content
    .span6
      %p
        Have you ever thought of learning a new language and a new framework? Most of us give-up even when we think it. Few of us find courage but lack of motivation/tutorials/examples, it's difficult to keep same passion through out the learning process and some of us give-up in between.
      %p
        How about learning basics of 3-4 languages, couple of frameworks and building a web application in 2 months? Sounds like a dream? Well it's all happening here, so do checkout what you can achieve in 2 months and get ready to join exciting team of developers. Dare to dream!
    .span6#dev-lang
      -#= image_tag 'developers_language.png'
