= form_for @question, :url => respond_ask_path(@question) do |f|
  .control-group
    = f.label :respond, 'Respond:'
    .controls
      = f.text_area :respond, :rows => '5', :class => 'noresize span11'
  .control-group
    = f.submit 'Respond', :class => 'btn'
