= form_for @question, :url => respond_ask_path(@question), class: 'form-horizontal span8' do |f|
  .control-group
    = f.label :respond, 'Respond:'
    = f.text_area :respond
  .control-group
    = f.submit 'Respond'