.row-fluid
  #title
    %h1 Ask a question
  = render 'ask_form'
.row.clear-fix
  - @questions.each do |q|
    = render 'question', :question => q
  #loadmore.span11
    .row-fluid
      = link_to 'Load More', 'javascript:alert("more to come")', :class => 'btn span12'
    