.row-fluid
  #title
    %h1 Ask a question
  = render 'ask_form'
.row-fluid
  .span12
  .span12
    - @questions.each do |q|
      = render 'question', :question => q
  .span12
    = link_to 'Load More', 'javascript:void(0)', :class => 'btn span12', :id => 'loadmore'
    