#title
  %h1 Ask a question
.row-fluid
  .form-horizontal.span11
    .border2
      = render 'ask_form'
.row-fluid
  .span10.offset1#questions
    = render :partial => 'visitor_questions/question', :collection => @questions
- if @questions.size > 0
  .row-fluid      
    .span10.offset1
      = link_to 'Load More', '#', :class => 'btn span12', :id => 'loadmore'
    