.page-item.border2
  - if admin_user?
    .action.pull-right
      .btn
        = link_to '', edit_challenge_path(item), :class => 'icon-edit', :title => 'Edit'
  .item-idx
  .description.span11
    = item.description
  .answer.clear
    = render 'set_answer_input', :question => item