- pages_items = paginated(@questions).to_a
- pages_size = pages_items.size
= render 'shared/pagination/nav', :pages => pages_size
.pages
  - pages_items.each do |items|
    .page.row-fluid
      .span10.offset1
        = render :partial => view_file, :collection => items, :as => :item
= render 'shared/pagination/nav', :pages => pages_size
