- pages = number_of_pages(@questions)
- detail ||= {}
= render 'shared/pagination', :pages => pages
.pages
  - 1.upto pages do |page|
    .page.row-fluid
      .span10.offset1
        - items = page_items(@questions, page)
        = render 'page_items', :items => items, :classes => detail
= render 'shared/pagination', :pages => pages
