.row-fluid
  %h1 Challenge Questions
  .row.span12 working on the detail......
- if user_signed_in? && current_user.is_admin?
  .row-fluid
    = link_to 'New challenge question', new_challenge_path, class: 'btn'