#title
  %h1 Challenge Questions
= form_tag('/challenges/submit', :id => 'challenge-form')
.container-fluid
  = render 'pages', :view_file => 'page_item'
= submit_tag 'Submit', :class => 'btn pull-right'