.group
  Type:
  = @question.qtype
.group
  Description: 
  = @question.description
.group
  Answers:
  - @question.answers.each do |answer|
    = (answer.content) +", "
- if !@question.type?('text')
  .group
    Choices:
    - @question.options.each do |choice|
      .group 
        = choice.content
