/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree .
 */
@import 'border';
@import "bootstrap";
// @import "bootstrap-responsive";
$body-color: skyblue;
$content-color: white;
html, body {
  height: 100%;
}

#content {
  min-height: 100%;
  padding: 0 10px;
  background-color: $content-color   

}



 .navbar {
  padding-top: 10px;
}

#page-content {
  padding-bottom: 48px;  /* must be same height as the footer */
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

h1 {
  margin-top: 0;
  font-size: 20px;
  line-height: 30px;
}

#title > h1{
  margin-top: 20px;
  margin-bottom: 20px;

}

#footer{
  position: relative;
  height: 48px;
  margin-top: -48px; /* negative value of footer height */
  padding-right: 20px;
  text-align: right;
}

body{
  background-color: $body-color;
}

.noresize{
  resize: none;
}
#page-content > .container{
  width: 900px;
}

 .fields{

  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}